body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-height: -webkit-fill-available;
}
body, html {
	margin: 0;
	padding: 0;
}
article {
	max-width: 70%;
	margin: auto;
}
input, textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type="submit"] {
	width: auto;
}
.fingerprint {
	float: right;
}
code {
	user-select: all;
}
pre {
	overflow-x: auto;
}
h1, h2, h3 {
	line-height: 1.2;
}
#lastname {
	display: none;
}
label[for="lastname"] {
	display: none;
}
input[type="submit"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background-color: black;
	}
	a:link {
		color: #9cf;
	}
	a:hover, a:visited:hover {
		color: #cef;
	}
	a:visited {
		color: #c9f;
	}
}
@media print {
	body {
		max-width: none;
	}
}
thead tr th {
	text-align: left;
}
